@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-2">Coppa</h1>
        <p>Potrazite nas na ovom <a href="https://github.com/ooad-2019-2020/Grupa7-Coppadore">linku</a>.</p>

    </div>

   